footer {
  height: 210px;
  color: $text-color;
  background-color: black;
  text-align: center;
  padding-top: 65px;
  font-size: 24px;
  img {
    margin-bottom: 28px;
  }
  @include mobile-display {
    font-size: 12px;
  }
}
