.banner {
  &--home {
    @include banner;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      url(../../assets/IMG.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    h1 {
      color: $text-color;
      font-size: 48px;
      font-weight: 500;
    }
  }
  &--about {
    @include banner;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      url(../../assets/kalen-emsley-Bkci_8qcdvQ-unsplash\ 2.jpg);
  }
}
