.collapse {
  &__title {
    font-weight: 500;
    background-color: $primary-color;
    border-radius: 5px;
    position: relative;
    z-index: 1;
    top: 10px;
    color: $text-color;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px 0 20px;
    cursor: pointer;
  }
  &__content {
    font-weight: 400;
    background-color: map-get($map: $background-color, $key: block);
    border-radius: 5px;
    overflow: hidden;
    color: $primary-color;
    max-height: 0;
    transform-origin: top;
    transition: max-height 400ms ease-in-out;
    p,
    ul {
      margin: 30px 30px 20px 20px;
    }
    ul {
      list-style-type: none;
      li:not(li:last-child) {
        margin-bottom: 5px;
      }
    }
    &.open {
      max-height: 320px;
    }
  }
  &.collapse--about {
    margin: 30px auto;
    width: 82%;
    font-size: 24px;
  }
  &.collapse--housing-sheet {
    width: 48%;
    font-size: 18px;
  }
  @include tablette-display {
    &__content.open {
      max-height: 550px;
    }
  }
  @include mobile-display {
    &__title {
      height: 30px;
      img {
        width: 18px;
        height: 10px;
      }
    }
    &__content.open {
      max-height: 800px;
    }
    &.collapse--housing-sheet {
      margin-bottom: 20px;
    }
    &.collapse--about,
    &.collapse--housing-sheet {
      width: 100%;
      font-size: 16px;
    }
  }
}
