.host-profile {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  p {
    display: flex;
    align-items: center;
    text-align: right;
    font-weight: 500;
    img {
      width: 64px;
      height: 64px;
      border-radius: 50%;
      margin-left: 10px;
    }
  }
  div {
    margin-top: 30px;
    img {
      margin-left: 15px;
    }
  }
  @include mobile-display {
    flex-direction: row-reverse;
    align-items: initial;
    justify-content: space-between;
    p {
      font-size: 14px;
      img {
        width: 32px;
        height: 32px;
      }
    }
    div img {
      width: 14px;
      height: 14px;
      &:first-child {
        margin-left: 0;
      }
      &:not(:first-child) {
        margin-left: 7px;
      }
    }
  }
}
