.slideshow {
  height: 415px;
  border: 1px solid black;
  overflow: hidden;
  border-radius: 25px;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  img {
    height: 415px;
    width: 1240px;
    // min-height: 415px;
    // transform: translateY(-50%);
    // object-fit: none;
    object-position: 50% 50%;
  }
}
