.error-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 100px 0 150px 0;
  color: $primary-color;
  p {
    font-size: 288px;
    font-weight: 700;
  }
  h1 {
    margin: 70px 0 180px 0;
    font-size: 36px;
    font-weight: 500;
  }
  a {
    color: $primary-color;
    font-size: 18px;
  }
}
