.housing-sheet {
  margin: 25px 100px 50px 100px;
  color: $primary-color;
  &__info {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    &__title {
      width: 50%;
    }
  }
}
