@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: auto;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.banner--home {
  height: 223px;
  background-position: center;
  background-size: cover;
  border-radius: 25px;
  display: flex;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../../assets/IMG.jpg);
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner--home h1 {
  color: white;
  font-size: 48px;
  font-weight: 500;
}
@media screen and (max-width: 767px) {
  .banner--home {
    height: 111px;
  }
  .banner--home h1 {
    font-size: 24px;
    margin: 0 16px 0 16px;
  }
}
.banner--about {
  height: 223px;
  background-position: center;
  background-size: cover;
  border-radius: 25px;
  display: flex;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../../assets/kalen-emsley-Bkci_8qcdvQ-unsplash\ 2.jpg);
}
@media screen and (max-width: 767px) {
  .banner--about {
    font-size: 24px;
  }
}

.housing-card {
  display: flex;
  align-items: flex-end;
  width: 30.3%;
  height: 340px;
  margin: 0 3% 3% 0;
  border-radius: 10px;
  text-decoration: none;
  background-size: cover;
  background-position: center;
}
@media screen and (max-width: 1284px) {
  .housing-card {
    width: 47%;
  }
}
@media screen and (max-width: 767px) {
  .housing-card {
    width: 100%;
    height: 255px;
    margin: 0 0 20px 0;
  }
}
.housing-card:last-child {
  justify-self: flex-start;
}
.housing-card p {
  color: white;
  font-size: 18px;
  margin: 20px;
  line-height: 140%;
}
.collapse__title {
  font-weight: 500;
  background-color: #ff6060;
  border-radius: 5px;
  position: relative;
  z-index: 1;
  top: 10px;
  color: white;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px 0 20px;
  cursor: pointer;
}
.collapse__content {
  font-weight: 400;
  background-color: #f7f7f7;
  border-radius: 5px;
  overflow: hidden;
  color: #ff6060;
  max-height: 0;
  transform-origin: top;
  transition: max-height 400ms ease-in-out;
}
.collapse__content p,
.collapse__content ul {
  margin: 30px 30px 20px 20px;
}
.collapse__content ul {
  list-style-type: none;
}
.collapse__content ul li:not(li:last-child) {
  margin-bottom: 5px;
}
.collapse__content.open {
  max-height: 320px;
}
@media screen and (max-width: 1023px) {
  .collapse__content.open {
    max-height: 550px;
  }
}
@media screen and (max-width: 767px) {
  .collapse__content.open {
    max-height: 800px;
  }
}
.collapse.collapse--about {
  margin: 30px auto;
  width: 82%;
  font-size: 24px;
}
@media screen and (max-width: 767px) {
  .collapse.collapse--about {
    width: 100%;
  }
}
.collapse.collapse--housing-sheet {
  width: 48%;
  font-size: 18px;
}
@media screen and (max-width: 767px) {
  .collapse.collapse--housing-sheet {
    width: 100%;
    margin-bottom: 20px;
  }
}

.slideshow {
  height: 415px;
  overflow: hidden;
  border-radius: 25px;
  display: flex;
  position: relative;
}
.slideshow img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  flex-shrink: 0;
  transition: transform 400ms ease-in-out;
}
.slideshow__counter {
  position: absolute;
  bottom: 25px;
  left: 50%;
  font-size: 18px;
  color: white;
  font-weight: 700;
  text-shadow: 2px 2px 2px black;
  transform: translateX(-50%);
}
.slideshow__left-arrow {
  width: 46px;
  height: 80px;
  position: absolute;
  top: 50%;
  left: 24px;
  transform: translateY(-50%);
  cursor: pointer;
}
.slideshow__right-arrow {
  width: 46px;
  height: 80px;
  position: absolute;
  top: 50%;
  right: 24px;
  transform: translateY(-50%);
  cursor: pointer;
}
@media screen and (max-width: 767px) {
  .slideshow {
    height: 255px;
  }
  .slideshow__counter {
    display: none;
  }
  .slideshow__left-arrow, .slideshow__right-arrow {
    width: 14px;
    height: 22px;
  }
}

.host-profile {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.host-profile p {
  display: flex;
  align-items: center;
  text-align: right;
  font-weight: 500;
}
.host-profile p img {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  margin-left: 10px;
}
.host-profile div {
  margin-top: 30px;
}
.host-profile div img {
  margin-left: 15px;
}
@media screen and (max-width: 767px) {
  .host-profile {
    flex-direction: row-reverse;
    align-items: initial;
    justify-content: space-between;
  }
  .host-profile p {
    font-size: 14px;
  }
  .host-profile p img {
    width: 32px;
    height: 32px;
  }
  .host-profile div img {
    width: 14px;
    height: 14px;
  }
  .host-profile div img:first-child {
    margin-left: 0;
  }
  .host-profile div img:not(:first-child) {
    margin-left: 7px;
  }
}

.housing-info {
  width: 50%;
}
.housing-info h1 {
  font-size: 36px;
  font-weight: 500;
}
.housing-info p {
  font-size: 18px;
  margin-bottom: 20px;
}
.housing-info span {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  min-width: 115px;
  background-color: #ff6060;
  height: 25px;
  font-size: 14px;
  font-weight: 500;
  color: white;
  margin-right: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
}
@media screen and (max-width: 767px) {
  .housing-info {
    width: 100%;
  }
  .housing-info h1 {
    font-size: 18px;
  }
  .housing-info p {
    font-size: 14px;
  }
  .housing-info span {
    font-size: 10px;
    min-width: 84px;
    height: 18px;
    border-radius: 5px;
  }
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px 100px 0 100px;
}
@media screen and (max-width: 1023px) {
  header {
    margin: 40px 50px 0 50px;
  }
}
@media screen and (max-width: 767px) {
  header {
    margin: 20px 20px 0 20px;
  }
}
@media screen and (max-width: 767px) {
  header img {
    width: 145px;
    height: 47px;
  }
}
@media screen and (max-width: 350px) {
  header nav {
    display: flex;
    flex-direction: column;
  }
  header nav a {
    margin-bottom: 10px;
  }
}
header .header-link {
  font-size: 24px;
  color: #ff6060;
  text-decoration: none;
}
@media screen and (max-width: 767px) {
  header .header-link {
    font-size: 18px;
  }
}
header .header-link.active {
  text-decoration: underline;
}
header .header-link:hover {
  text-decoration: underline;
}
header .header-link:first-child {
  margin-right: 50px;
}
@media screen and (max-width: 767px) {
  header .header-link:first-child {
    margin-right: 10px;
  }
}

footer {
  height: 210px;
  color: white;
  background-color: black;
  text-align: center;
  padding-top: 65px;
  font-size: 24px;
}
footer img {
  margin-bottom: 28px;
}
@media screen and (max-width: 767px) {
  footer {
    font-size: 12px;
  }
}

.home {
  margin: 60px 100px 50px 100px;
}
@media screen and (max-width: 1023px) {
  .home {
    margin: 60px 50px 50px 50px;
  }
}
@media screen and (max-width: 767px) {
  .home {
    margin: 20px;
  }
}
.home__housing {
  padding: 3% 0 0 3%;
  background-color: #f7f7f7;
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
  border-radius: 25px;
}
@media screen and (max-width: 767px) {
  .home__housing {
    padding: 0;
    background-color: transparent;
  }
}

.housing-sheet {
  margin: 25px 100px 50px 100px;
  color: #ff6060;
}
.housing-sheet__info {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}
.housing-sheet__details {
  display: flex;
  justify-content: space-between;
  margin: 30px 0;
}
@media screen and (max-width: 1023px) {
  .housing-sheet {
    margin: 25px 50px 50px 50px;
  }
}
@media screen and (max-width: 767px) {
  .housing-sheet {
    margin: 20px;
  }
  .housing-sheet__info, .housing-sheet__details {
    flex-direction: column;
  }
}

.about {
  margin: 60px 100px 100px 100px;
}
@media screen and (max-width: 1023px) {
  .about {
    margin: 60px 50px 100px 50px;
  }
}
@media screen and (max-width: 767px) {
  .about {
    margin: 20px;
  }
}

.error-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 100px 0 150px 0;
  color: #ff6060;
}
.error-page p {
  font-size: 288px;
  font-weight: 700;
}
.error-page h1 {
  margin: 70px 50px 180px 50px;
  font-size: 36px;
  font-weight: 500;
  text-align: center;
}
.error-page a {
  color: #ff6060;
  font-size: 18px;
}
@media screen and (max-width: 767px) {
  .error-page {
    margin: 30px 0 30px 0;
  }
  .error-page p {
    font-size: 96px;
  }
  .error-page h1 {
    font-size: 18px;
    margin: 11px 50px 130px 50px;
  }
  .error-page a {
    font-size: 14px;
  }
}

/*# sourceMappingURL=style.css.map */
