body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 40px 100px 0 100px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home__title {
  width: 1240px;
  height: 223px;
  background-image: url(./assets/IMG.jpg);
  background-position: center;
  border-radius: 25px;
  display:flex;
  justify-content: center;
  align-items: center;
}
.home__title h1 {
  color: white;
}